body {
	height: 100vh;
	background: /*#FFA44C*/ background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);;
	margin: 0;
	display: grid;
	font-family: 'Roboto Condensed', sans-serif;

}

.container {
	text-align: center;
	padding: 0;
	height: 100vh;
	 
}

h1 {
	 	font-size: 8em;
	 	margin: 0;
	 	color: white;
	 	padding-top: 2em;
	 }

 p {
	 	font-size: 1.3em;
	 	margin: 0;
	 	color: white;
	 }

section {
	text-align: center;
	padding:0;
	height: 100vh;
	background-color: black;
}

h2 {
	font-size: 3em;
	margin-top: 8em;
	color: #FFA44C;
}

svg {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	padding: 0;

}

.clouds {
	animation: cloud-anim 10s alternate-reverse infinite linear;
}

@keyframes cloud-anim{
	from {
		transform: translateX(0);
	}
	to{
		transform: translateX(-100px);
	}
}


